h1, h2{
  text-align: center;
  margin: 5px 0px 5px 0px;
}

.App {
  min-height: 100vh;
  padding: 1em;
}

.birdContainer{
  padding: 1em;
}

.birdContainer img{
  width: 100%;
}

.imageinlist{
  width: 100%;
  padding-top:1em; 
  display: block;
}

.scientific{
  font-style: italic;
}

.attribute{
  font-weight: bold;
}

.value{
  padding-left: 1em;
}

.birdListItem{
  padding-bottom: 1em;
}

.birdListItem h4, .birdListItem p{
  margin: 0 0 0 0;
}

ul{
  margin: 0 0 0 0;
}